:root {
    --blue: #3266a8;
    --blue-clear: #547ec7;
    --white: #ffffff;
    --green-logo: #5ebab8;
    --main-color: #d3ad7f;
    --shadow-blur: 2px 2px 10px #d3ad7f, -2px -2px 10px #fff;
    --header: #132235;
    --background: #fefefe;
    --black: #13131a
  }

/* section starts blogs */
.blogs {
    padding-top: 150px;
  }
  
  .blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
    margin: 0 20px;
  }
  
  .blogs .box-container .box {
    /* border: var(--border); */
    border: 1px solid #5ebab8;
  }
  
  .blogs .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
  }
  
  .blogs .box-container .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  
  .blogs .box-container .box:hover .image img {
    transform: scale(1.2);
  }
  
  .blogs .box-container .box .content {
    padding: 2rem;
    list-style: none;
  }
  
  .blogs .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: #132235;
  }
  
  .blogs .box-container .box .content .title:hover {
    color: var(--green-logo);
  }
  
  .blogs .box-container .box .content span {
    color: #868686;
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
  }
  
  .blogs .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #222121;
    padding: 1rem 0;
  }
/* cards */

/* Início do footer */
